

body {
	overflow: hidden;
}


div#workbench {
	/*background-color: #faa;*/
	height : 100%;
	/*overflow: scroll;*/
}

div#workbench div#workbench-working-area {
	height : 100%;
	width : 100%;
	background: url("transp_bg.png");
	overflow: scroll;
}

div#workbench div#workbench-working-area div#workbench-mask{
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	position: absolute;
	top : 0;
	left: 0;
	cursor : move;
}


div#workbench .workbench-commands {
	position: absolute;
	left: 0;
	bottom : 20px;
	z-index: 2000;
	/*background: #eee;*/
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

div#workbench .workbench-commands ul.nav {
	text-align: center;
}

div#workbench .workbench-commands ul.nav > li {
	display: inline-block;
	float: none;
}

div#workbench .workbench-commands ul.nav > li a {
	background: #eee;
}

div#workbench .workbench-commands ul.nav > li a:hover,
div#workbench .workbench-commands ul.nav > li a:focus {
	background: #ddd;
}

div#toolkit {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	z-index: 3000;
	background: #fff;
}

div#toolkit hr {
	margin-bottom: 10px;
	margin-top: 10px;
}

div#toolkit .form-group.empty-space {
	height : 0px;
	width:1px;
}


/* Form */
div#toolkit .form-control {

	height:  22px;
	font-size: 10px;
	font-size: 1.0rem;
}

div#toolkit .form-group {
	margin-bottom: 10px;
	font-size: 11px;
	font-size: 1.0rem;
}

div#toolkit .btn-go {
	text-align: center;
}






div#error-imagesmagick {

	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.3);
}

div#error-imagesmagick-message {

	background: rgba(0,0,0,1);
	color : #eee;
	width : 30%;
	margin : auto;
	padding : 20px;
	margin-top : 200px;
}
