<html ng-app="resizer">
<head>
	<title>RSZR</title>

	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/toolkit.js"></script>
	<script type="text/javascript" src="app/workbench.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-md-10 col-hd-10" id="workbench" ng-controller="WorkBenchController as workbench">
				<div class="row">
					<div id="workbench-working-area" style="position: relative; !important">
						<img id="workbench-img" style="">
						<div id="workbench-mask"></div>
					</div>
				</div>
				<div class="rowold">
					<div class="workbench-commands">
						<ul class="nav nav-pills ">
						  <li role="presentation" class=""><a href="#" ng-click="workbench.zoomIn()"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a></li>
						  <li role="presentation"><a href="#" ng-click="workbench.zoomOut()"><span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span></a></li>

						</ul>
					</div>
				</div>

			</div>
			<div class="col-xs-2 col-md-2 col-hd-10" id="toolkit" ng-controller="ToolkitController as toolkit">
				<form novalidate class="form-horizontal">

					<hr>

					<div class="form-group">
						<label for="file" class="col-sm-3">File</label>
						<div class="col-sm-9"><input type="file" name="file" id="file" class="form-control" onchange="angular.element(this).scope().toolkit.loadImage(this)"></div>
					</div>

					<hr>

					<div class="form-group">
						<label for="finalWidth" class="col-sm-3">Width</label>
						<div class="col-sm-9"><input type="text" name="finalWidth" id="finalWidth" class="form-control " ng-model="toolkit.finalWidth" ng-change="toolkit.updateWidth()"></div>
					</div>

					<div class="form-group">
						<label for="finalHeight" class="col-sm-3">Height</label>
						<div class="col-sm-9"><input type="text" name="finalHeight" id="finalHeight" class="form-control" ng-model="toolkit.finalHeight"  ng-change="toolkit.updateHeight()"></div>
					</div>

					<div class="form-group">
						<label for="keepRatio" class="col-sm-3">Keep Ratio</label>
						<div class="col-sm-9" style="height:20px;"><input type="checkbox" name="keepRatio" id="keepRatio" class="" ng-model="toolkit.keepRatio" ng-change="" style=""></div>
					</div>

					<hr>

					<div class="form-group">
						<label for="cropWidth" class="col-sm-3">Crop Width</label>
						<div class="col-sm-9"><input type="text" name="cropWidth" id="cropWidth" class="form-control" ng-model="toolkit.cropWidth"  ng-change="toolkit.updateCropWidth()"></div>
					</div>

					<div class="form-group">
						<label for="cropHeight" class="col-sm-3">Crop Height</label>
						<div class="col-sm-9"><input type="text" name="cropHeight" id="cropHeight" class="form-control" ng-model="toolkit.cropHeight"  ng-change="toolkit.updateCropHeight()"></div>
					</div>

					<div class="form-group">
						<label for="cropX" class="col-sm-3">Crop X</label>
						<div class="col-sm-9"><input type="text" name="cropX" id="cropX" class="form-control" ng-model="toolkit.cropX"  ng-change="toolkit.updateCropX()"></div>
					</div>

					<div class="form-group">
						<label for="cropY" class="col-sm-3">Crop Y</label>
						<div class="col-sm-9"><input type="text" name="cropY" id="cropY" class="form-control" ng-model="toolkit.cropY"  ng-change="toolkit.updateCropY()"></div>
					</div>

					<hr>

					<div class="form-group">
						<div class="col-sm-10 col-sm-offset-1 text-center "><input class="btn-go btn btn-default" type="submit" ng-click="toolkit.go()" value="Go !"></div>
					</div>


				</form>
			</div>
		</div>
	</div>




	<!-- Affichage d'une erreur si imagesmagick n'est pas installé-->
	<div id="error-imagesmagick" style="display:none">
		<div id="error-imagesmagick-message">ImagesMagick is not installed on yourcomputer.<br/> You need to install it if you want this app to work !</div>
	</div>
</body>
</html>
